html {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #c0c1d7;
  font-family: 'Cambria Math';
  font-size: 20px;
  line-height: 1.5em;
}


body {
  width: 100%;
  background-color: #00000e;
}

.div-menuButton {
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

#menuButton {
  user-select: none;
}

#menuButton:focus{

}

#menuToggle{
  display: none;
}

#sidebar {
  display: flex;
  min-height: 50vh;
  max-height: 100vh;
  position: fixed;
  z-index: 10;
  font-size: 0px;
  gap: 0px;
  align-items: stretch;
  background-color: #c0c1d7;
  padding: 0% 0% 2% 0;
}

#chapters {
  list-style: none;
  border: none;
  max-height: 83vh;
  overflow: scroll;
  scrollbar-width: none;
}

#chapters li{
  padding-left: 0px;
}

.lilArrow::before {
  content: '\00a0\00a0\00a0\00a0⟶  ';
  padding-right: 1ch;
  white-space: pre;
}

.lilArrow {
  text-decoration: none;
}




.outline {
  margin-right: auto;
  width: 0px;
  overflow: hidden;
  padding: 3vh 0% 2% 0px;
  background-color: #c0c1d7;
  color: #00000e;
  z-index: 4;
  display: block;
  transition: width 200ms ease-in;
  transform: translateX();
}

.outline h2, .outline ul {
    margin-left: 31px;
}

.outline * {
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.5em;
  color:#00000e;
  text-decoration: none;
  background-color: inherit;
  transition: background-color linear .10s;
}

.sidebar-divider {
  padding: 0 0 0 10px;
  background-color: #c0c1d7;
  font-size: 0px;
  color: #d6d6d6
}

.sidebar-tab {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;

}

.sidebar-tab img {
  min-width: 30px;
  margin-left: -2px;
  position: absolute;
  display: block;
}

.sidebar-mouseover-area{
  /* do not remove this */
}

#chapters > li {
  padding-left: 1ch;
  border-radius: 20px;
}


.outline h2 {
  text-align: left;
}






.main{
  margin: 0 auto 0 0;
}









header {
  padding: 1em 5%;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 3px;
  border-bottom: #838498 groove 4px;
  background: url("images/fiber-optic-background-edited.png") center left repeat;
  background-color: #00001e;
  background-size: auto 100%;
  background-blend-mode: difference;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.header-layer {
  background-image: linear-gradient(180deg, transparent 5%, hsla(240, 100%, 6%, .8), hsla(240, 100%, 6%, .8), transparent 98%);
  box-shadow: 0 0 40px hsla(240, 100%, 6%, 1);
  border-radius: 400px;
  padding: 0 100px;
  position: relative;
}

h1, h2, h3, h4 {
  line-height: 1.5em;
  text-align: center;
  font-family: Cambria;
}

h1, h2, h3, h4, .span-h1 {
}

.span-h1{
  background: none;
}

.javascript-logo {
  height: 100px;
  margin: .5em 10ch 0 0;
  vertical-align: text-top;
  position: absolute;
  right: 85%;
}

.div-h1 {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5em 0 0 0;
}

h1 {
  font-size: 65px;
  line-height: .5em;
  margin: 2% 0 auto 0;
}

.span-h1 {
  font-size: 46px;
}


h2, h2 a {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 28px;
}

p, ul, ul~h4 {
  margin: 1.5em 0 0 0;
}









.content {
  padding: 2em 1% 2em 1%;
  background-color: #00000e;
  margin: 0% 20%;
  min-width: 730px;
  
}

section {
  padding: 0 5%;
  padding: 0 5% 0 5%;
  margin: 1em 0 0em 0;
  font-size: 20px;
  line-height: 1.5em;
  word-spacing: 1.5px;
}

h2, h4{
  margin: 1em 0 0 0;
}

i ~ *{
  word-spacing: 3px;
}

a:not(#sidebar a):hover{
  filter: brightness(150%);
}

.gold {
  color:#d4b830;
}


#sidebar a:hover {
  color: #059bff;
}




ul {
  list-style: circle;
  padding: 0 0 1em 0;
  border-bottom: #838498 groove 2px;
}

li {
  padding-left: 2ch;
}

@media (max-width: 1265px){
  .javascript-logo {
    height: 100px;
    left: 100%;
  }

  .div-h1 {
    margin: 0;
  }
}

code {
  font-family: Consolas;
  background-color: #D6D6D6;
  color: #850101;
  font-weight: 600;
  font-size: 15px;
  display: block;
  padding: 1em 3ch 1.5em 3ch;
  margin: 1em 0em 1em 0em;
  border: solid gray 2px;
}

code pre{
  color: #850101;
  font-weight: 600;
  font-size: 15px;
  font-family: monospace;
  text-indent: 4ch;
  margin: 0;
}

.in-4{
  text-indent: 4ch;
}

.in-8{
  text-indent: 8ch;
}

.in-12 {
  text-indent: 12ch;
}

code span {
  color: darkgreen;
  margin: 1ch;
  font-family: monospace;
  font-size: 1em;
}

.underline{
  text-decoration: underline;
}

.italic{
  font-style: italic;
}

h4{
  font-style: italic;
}

.yellow {
  color: #d4b830;
}

a {
  color: #059BFF;
}

mark {
  background-color: #2B2B2B;
  font-family: monospace;
  padding: .1em .25ch;
  font-size: .88em;
}

em{
  text-decoration: underline;
}

.screenshots {
  display: flex;
  justify-content: center;
  margin: 2em 0;
  gap: 1em;
}

.img-shrink {
  width: 100%;
}

.warning {
  color: hsl(0, 99%, 69%);
}

.warning::before{
  content: "\A";
  white-space: pre;
}

.warning::after{
  content: "\A\A";
  white-space: pre;
}

.num-list{
  padding-left: 4ch;
}

.num-list::before{
  content: "\A";
  white-space: pre;
}

.num-list::after {
    content: "\A\A";
    white-space: pre;
}

.num-list~.screenshots {
  margin: 1em 0 1em 0;
}

::-webkit-scrollbar{
  width: 10px;
}

